body {
    background-image: url("my.jpg");
    background-size: cover;
    font-family:  'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background: #8eafa8c0;
     max-width: 100mm;
    max-height: 200mm; 
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
 
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    border: 1px solid black;
    padding-top: 10px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0,3s ease;
}

#increment-btn {
    background: #ad3a3a;

}

#save-btn {
    background: #354ac2#45a049;;
}

#save-el {
    font-weight: bold;
}

